# example .env file

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PRISMA_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/dnd_engagement_party"

HOST_URL="localhost:3000"

API_KEY="change-me"